extends ../../layouts/default

include ../../mixins/workshop

block intro
	.page-intro: .container
		h1 Workshops

block content
	.page-content: .container
		.organisations
			if workshops.length
				each ws, i in workshops
					if i
						hr
					+workshop(ws)
			else
				h3.text-muted There are no workshops yet.